@font-face {
  font-family: "Otomanopee";
  src: asset-url("Otomanopee.ttf") format("truetype");
}

@font-face {
  font-family: "ABeeZee-Regular";
  src: asset-url("ABeeZee-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ABeeZee-Italic";
  src: asset-url("ABeeZee-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Syncopate";
  src: asset-url("Syncopate.ttf") format("truetype");
}

$body-font: "ABeeZee-Regular";
$headers-font: "Otomanopee";
$accent-font: "Syncopate";

.title {
  font-family: $headers-font;
  color: #004643;
  font-size: 25px;
}

h1 {
  font-family: $headers-font;
  color: #004643;
  font-size: 20px;
}

h2 {
  font-family: $headers-font;
  color: #004643;
  font-size: 18px;
}


h3 {
    background-color: #60365E;
    border-radius: 10px;
    font-family: $body-font;
    color: #FFF3E1;
    font-size: 19px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    justify-content: center;
    padding: 0.5em;
    display: inline-block;
    align-items: center;
}

h4 {
  font-family: $body-font;
  color: #004643;
  font-size: 13px;
}
