<div class="calendar">
  <% if @events.empty? %>
    <%= form_with model: Event.new, authenticity_token: true, id:"dashboard-calendar" do |f| %>
    <%= f.text_field :start_time,
        data: {
          controller: "datepicker"
        } %>
    <% end %>
  <% else %>
    <%= form_with model: Event.new, authenticity_token: true, id:"dashboard-calendar", data: { events_dates: @events_dates } do |f| %>
    <%= f.text_field :start_time,
      data: {
        controller: "datepicker",
        flatpickr_min_date: Time.zone.now
      } %>
    <% end %>
  <% end %>
</div>
