<ul>
  <% @events_by_month.each do |month, events| %>
    <li>
      <div class="event-container-home">
        <h1>En <%= "#{french_month(month)}" %></h1>
        <% if events.any? %>
          <ul>
            <% events.each do |event| %>
              <%= link_to event_path(event) do %>
                <li class="event-infos-home">
                  <div class="event-name"><%= event.name %></div>
                  <div class="event-date"><%= event.date.strftime("%d/%m") %></div>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <p class="event-infos-home">Aucun évènement ce mois-ci.</p>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
