<ul>
  <% (0..2).each do |i| %>
    <% month = Date.today.beginning_of_month + i.months %>
    <li>
      <div class="event-container-home">
        <h1>En <%= "#{french_month(month)}" %></h1>
        <% events_for_month = @events.select { |event| event.date.beginning_of_month == month } %>
        <% if events_for_month.any? %>
          <ul>
            <% events_for_month.each do |event| %>
              <%= link_to event_path(event) do %>
              <div class="event-infos-home">
                <li>
                  <div class="event-infos">
                    <div class="event-name"><%= event.name %></div>
                    <div class="event-date"><%= event.date.strftime("%d/%m") %></div>
                  </div>
                </li>
              </div>

              <% end %>
            <% end %>
          </ul>
        <% else %>
          <p class="no-event">Aucun évènement ce mois-ci.</p>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
