    <div data-controller="save-gift">
      <ul data-controller="refresh-gift" data-save-gift-target="list">
        <% @gift.generated_list.each_with_index do |gift, index| %>
          <% if (index < 5) %>
            <div class="secondary-container">
              <li class="gift-container" data-save-gift-target="gift">
                <div class="gift-left">
                  <%= image_tag('open-gift.png', class: "logo-gift") %>
                  <div class="gift-name">
                    <%= gift %>
                  </div>
                </div>
                <% if @user == @gift.user %>
                  <span class="refresh-container" data-action="click->refresh-gift#refresh" data-refresh-gift-target="refresh">
                    <div class="refresh-arrow">
                      <%= image_tag('refresh.svg', class: "logo-refresh") %>
                    </div>
                    <div class="refresh-text">
                      Remplacer
                    </div>
                  </span>
                <% end %>
              </li>
            </div>
          <% else %>
            <li class="hidden-gift" data-refresh-gift-target="hiddenGift" style="display: none">
              <%= gift %>
              <% if @user == @gift.user %>
                <span data-action="click->refresh-gift#refresh" data-refresh-gift-target="refresh">X</span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
