<div class="navbar">

<!-- Sur mobile, le bouton back doit amener sur la page précédante en
l'adaptant dynamiquement mais ça doit être fait en JS si pas de Bootstrap -->

  <div class="chevron-mobile">
    <i class="fa-solid fa-chevron-left"></i>
  </div>


  <div class="navbar-left">
    <%= link_to image_tag('geeft-logo-mobile.svg', alt: 'Geeft logo'), root_path %>
    <!-- Voir Helper Navbar Titles -->
    <h1> <%= navbar_title %> </h1>
  </div>

<div class="dropdown">
        <button class="dropdown-toggle" style="border: none; background: none">
            <span class="menu-bars">
                <i class="fa-solid fa-bars"></i>
            </span>
        </button>
        <ul class="dropdown-menu">
          <li class="menu-item">
            <span class="item-icon">
                <i class='fa-solid fa-bars'></i>
            </span>
            <span class="item-txt">
                Dashboard
            </span>
        </li>
          <li class="menu-item">
            <span class="item-icon">
                <i class='fa-solid fa-bars'></i>
            </span>
            <span class="item-txt">
                <%= link_to "Déconnexion", destroy_user_session_path, 'data-turbo-method': :delete %>
            </span>
        </li>
          <li class="menu-item">
            <span class="item-icon">
                <i class='fa-solid fa-bars' ></i>
            </span>
            <span class="item-txt">
                setting
            </span>
        </li>
        </ul>
      </div>

</div>
