<div class="navbar">
  <div class="navbar-left">
    <%= image_tag 'geeft.png', alt: 'Geeft logo' %>
    <!-- Voir Helper Navbar Titles -->
    <h1> <%= navbar_title %> </h1>
  </div>
  <div class="navbar-right">
    <i class="fa-solid fa-bars"></i>
  </div>
</div>
