<div class="body-container">

<div class="annual-calendar">
  <!-- J'ai mis le calendar en "component" pour plus de lisibilité -->
  <%= render 'shared/calendar' %>

  <div class="btn-calendar">
      <%= link_to raw("<i class='fa-solid fa-square-plus'></i> Ajouter un évènement"), new_event_path %>


  </div>

  <!-- J'ai mis les events en "component" pour plus de lisibilité -->
  <%= render 'shared/event_calendar' %>

  </div>

</div>
