<div class="body-container">

<div class="dashboard-left">

  <!-- J'ai mis le calendar en "component" pour plus de lisibilité -->
  <%= render 'shared/calendar' %>

  <!-- J'ai mis les events en "component" pour plus de lisibilité -->
  <%= render 'shared/event_dashboard' %>





  <%= link_to 'add event', new_event_path %>
  </div>

</div>
