.input-group button {
  height: 100%;
  width: 20px;
}

.input-group > input {
  height: 100%;
  width: 50px;
  padding: 0 0.1em;
  text-align: center;
}

.age-user {
  display: flex;
  align-items: center;
  height: 2em;
  width: fit-content;
  border-radius: 0.6em;
  border: 2px solid $primary-color;
  background-color: $primary-color;
  color: $secondary-color;
  button {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    width: 2.2em;
    height: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
  }
  span {
    width: 1.8em;
    height: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    font-family: $accent-font;
    color: $primary-color;
    width: 3em;
    font-size: 0.8em;
    text-align: center;
    border: none;
    background-color: $secondary-color;
    height: 100%;
  }
}
