// Bouton de base
.btn {
  font-family: $headers-font;
  // margin-top: 0.5em;
  font-size: 20px;
  // border: none;
  border-radius: var(--border-radius);
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
  text-align: center;
  width: 100%;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  // transition: background-color 0.3s ease-in-out 0.1s,
  //   color 0.3s ease-in-out 0.1s;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.btn__theme {
  // border-radius: 8px;
  // margin: 40px auto;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  animation: btn__scale-down 600ms ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    animation: btn__scale-up 600ms ease;
    // box-shadow: 0 5px 20px rgba(0, 70, 67, 0.2);
    // background-color: $primary-color;
  }
  & button {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    transition: color 300ms ease;
  }
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-family: $headers-font;
  color: $secondary-color;
  margin: auto;
  transition: color 300ms ease;

  & img {
    width: 1.5em;
  }
}

// Green button style
.btn-green {
  background-color: $primary-color;
  color: $secondary-color;
  &:hover {
    box-shadow: 0 5px 20px rgba(0, 70, 67, 0.2);
  }
}

// Purple button style
.btn-purple {
  background-color: $accent-color;
  color: $secondary-color;
  &:hover {
    box-shadow: 0 5px 20px rgba(96, 54, 94, 0.2);
  }
}

// Red button style
.btn-red {
  background-color: rgb(184, 54, 54);
  color: $secondary-color;

  &:hover {
    box-shadow: 0 5px 20px rgba(184, 54, 54, 0.2);
  }
}

// Bouton carré
.btn-square {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  margin: 0;
}

// Boutons HomePage Log-in/out
.btn-home {
  margin-top: 0.3em;
  // font-family: $headers-font;
  // font-size: 20px;
  // border-radius: var(--border-radius);
  // text-decoration: none;
  // padding: 0.5em;
  // justify-content: center;
  display: flex;
  width: 50%;
  & img {
    width: 1.5em;
    gap: 0.5em;
  }
}

// Bouton retour sur chaque page
.btn-back {
  font-family: $headers-font;
  display: inline-block;

  & a {
    color: $primary-color;
    opacity: 58%;
    margin-bottom: 1em;
  }
}

a.btn-back {
  color: $primary-color;
  opacity: 58%;
  margin-bottom: 1em;
}

.action-buttons {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  width: 100%;
  justify-content: flex-end;
}

.btn-dashboard {
  display: flex;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  width: 14em;
}

// Animation boutons
@keyframes btn__scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes btn__scale-down {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

// Bouton mobile
.btn-mobile {
  display: none;
}

@media (max-width: 900px) {
  // Bouton mobile
  .btn-mobile {
    position: fixed;
    bottom: 2em;
    right: 1.4em;
    background-color: $accent-color;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & i {
      font-size: 2em;
      margin: 0.5em;
    }
  }

  .btn-square {
    top: 0;
  }

  .btn-home {
    width: 6.5em;
    font-size: 1.4em;
  }

  .btn-calendar {
    display: none;
  }

  .btn-back {
    display: none;
  }

  .btn-desktop {
    display: none;
  }
}
