// Boutons double de base
.btn {
  font-family: $headers-font;
  font-size: 1.5em;
  border-radius: var(--border-radius);
  text-decoration: none;
  padding: 0.5em;
  text-align: center;
  width: 49%;
}

// Bouton solo de base
.btn-secondary {
  font-family: $headers-font;
  margin-top: 0.7em;
  font-size: 1.1em;
  border-radius: var(--border-radius);
  text-decoration: none;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}
// Bouton carré
.btn-square {
  position: absolute;
  top: -2em;
  right: 0;
  width: 3em;
  height: 3em;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

// Boutons HomePage Logged-out
.btn-home {
  margin-top: 0.3em;
  font-family: $headers-font;
  font-size: 1.5em;
  border-radius: var(--border-radius);
  text-decoration: none;
  padding: 0.5em;
  text-align: center;
  width: 8em;
}

// Green button styles
.btn-green {
  background-color: $primary-color;
  color: $secondary-color;
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    a {
      color: $primary-color;
    }
  }
}

// Purple button styles
.btn-purple {
  background-color: $accent-color;
  color: $secondary-color;
  &:hover {
    background-color: $secondary-color;
    a {
      color: $accent-color;
    }
  }
}



// Bouton retour sur chaque page
.btn-back {
  font-family: $headers-font;
  margin: 0.5em 0 0 21.4em ;
  a {
    color: $primary-color;
    opacity: 58%;
  }
}


// Bouton mobile
.btn-mobile {
  display: none;
}


@media (max-width: 768px) {
  // Bouton mobile
  .btn-mobile {
    position: fixed;
    bottom: 2em;
    right: 1.4em;
    background-color: $accent-color;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    & i {
      font-size: 2em;
      margin: 0.5em;
    }
  }

  .btn-square {
    top: 0;
  }

  .btn-home {
    width: 6.5em;
    font-size: 1.4em;
  }


  .btn-calendar {
    display: none;
  }

  .btn-back {
    display: none;
  }
}
