.calendar {
  font-family: "ABeeZee-regular";
}

#dashboard-calendar > input {
  display: none;
}

#dashboard-calendar {
  display: flex;
  justify-content: center;
}

.flatpickr-calendar.inline {
  background-color: #bacdcc;
}

.flatpickr-calendar.arrowTop:after,
.flatpickr-calendar.arrowTop:before {
  display: none;
}

.flatpickr-current-month {
  pointer-events: none;
}

.booked {
  background: #60365e;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 150px;
  bottom: 3px;
  left: calc(50% - 3px);
  content: " ";
  display: block;
}
