.body-container {
  background-color: $background-color;
  padding: 1em 3.2em 5em 3.2em;
  min-height: 100vh;
  width: 100%;
  & a {
    text-decoration: none;
    color: $secondary-color;
  }
}

.primary-container {
  // margin: 1em 0 0 21.4em;
  // margin: 0 10% auto 20%;
  // position: relative;
  width: 100%;
  max-width: 30em;





  & .title {
    display: none;
    }
    }

    .secondary-container {
      margin: 0.5em 0 0 0;
      padding: 0.6em;
      border: 3px solid $primary-color;
      border-radius: var(--border-radius);
      background-color: $secondary-color;
      font-family: $body-font;
      color: $primary-color;
      font-size: 1em;
      overflow: hidden;
      transition: 0.25s ease-in-out;
      box-shadow: var(--container-shadow);

      & h3 {
        font-family: $body-font;
        color: $primary-color;
        font-size: 0.7em;
        margin: 0em 0 0.5em 0;
        }

        & input,
        textarea {
          font-family: $body-font;
          font-size: 1em;
          color: $primary-color;
          background-color: $secondary-color;
          width: 100%;
          resize: none;
          box-sizing: border-box;
    white-space: pre-wrap;
    }
    a {
    color: $primary-color;
    }
    }

  .secondary-container[data-refresh-gift-target="gift"] {
    width: 50%;
    margin: 0;
    }

  div[contenteditable] {
        border: 1px solid black;
        width: 200px;
        }



.geeft {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .gift-icon {
    font-size: 1.5em;
    margin-right: 0.5em;
    color: $accent-color;
  }
}

.geeft-left {
  display: flex;
  align-items: center;
  grid-area: "gl";
}

.geeft-right {
  cursor: pointer;
}



@media (max-width: 768px) {
  .primary-container {
    margin: 1em 0 0 0;
    width: 100%;
    & h2 {
      display: block;
    }
    & .title {
      display: block;
      font-family: $headers-font;
      color: $primary-color;
      font-size: 1.5em;
      margin-bottom: 1em;
    }
  }

  .body-container {
    padding: 2em;
  }
}

.main {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.main + .main {
  transform: translateY(110%);
}

.main + .main + .main {
  transform: translateY(220%);
}

.main + .main + .main + .main {
  transform: translateY(330%);
}

.main + .main + .main + .main + .main {
  transform: translateY(440%);
}

.wrapper {
  width: 200%;
  display: inline-flex;
  height: fit-content;
  justify-content: end;
  transform: translateX(-50%);
}

.is-animating {
  transition: transform 200ms;
}
