.body-container {
  background-color: $background-color;
  padding: 1em 3.2em 5em 3.2em;
  min-height: 100vh;
  width: 100%;
  & a {
    text-decoration: none;
    color: $secondary-color;
  }
}

.primary-container {
  // margin: 1em 0 0 21.4em;
  // margin: 0 10% auto 20%;
  position: relative;
  width: 40em;
  & h2 {
    font-family: $headers-font;
    color: $primary-color;
    font-size: 1.5em;
    margin-bottom: 1em;
    display: none;
  }
  & h3 {
    font-family: $headers-font;
    color: $primary-color;
    font-size: 1.2em;
    margin: 1em 0 0.5em 0;
  }
  & .title {
    display: none;
  }
}

.secondary-container {
  margin: 0.5em 0 0 0;
  padding: 0.6em;
  border: 3px solid $primary-color;
  border-radius: var(--border-radius);
  background-color: $secondary-color;
  font-family: $body-font;
  color: $primary-color;
  font-size: 1em;
  transition: 0.25s ease-in-out;
  & h3 {
    font-family: $body-font;
    color: $primary-color;
    font-size: 0.7em;
    margin: 0em 0 0.5em 0;
  }
  & input,
  textarea {
    font-family: $body-font;
    font-size: 1em;
    color: $primary-color;
    background-color: $secondary-color;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    white-space: pre-wrap;
  }
  a {
    color: $primary-color;
  }
}

div[contenteditable] {
  border: 1px solid black;
  width: 200px;
}

.geeft {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .gift-icon {
    font-size: 1.5em;
    margin-right: 0.5em;
    color: $accent-color;
  }
}

.geeft-left {
  display: flex;
  align-items: center;
}

.geeft-right {
  cursor: pointer;
}

@media (max-width: 768px) {
  .primary-container {
    margin: 1em 0 0 0;
    width: 100%;
    & h2 {
      display: block;
    }
    & .title {
      display: block;
      font-family: $headers-font;
      color: $primary-color;
      font-size: 1.5em;
      margin-bottom: 1em;
    }
  }

  .body-container {
    padding: 2em;
  }

}
