.dashboard {
  display: flex;
  justify-content: center;
}

.dashboard-right {
  width: 100%;
  margin-left: 2.6em;
  position: relative;
}

.horizontal-line {
  display: flex;
  align-items: center;
}

.separator {
  height: 4px;
  width: 200px;
  background-color: $primary-color;
  border-radius: 99px;
  margin: 1.5em auto;
}


// html, body {
//   height: 100%;
// }

// body {
//   display: flex;
//   font-family: Arial, sans-serif;
// }

.dashboard {
  display: flex;
  width: 100%;
  height: 100vh; /* Hauteur totale de la vue */
}

.left-pane, .right-pane {
  // width: 50%;
  overflow-y: auto; /* Ajoute un défilement vertical */
  padding-bottom: 5em;
  // padding: 1em; /* Pour le contenu */
}


@media (max-width: 800px) {
  .dashboard-right {
    display: none;
  }
}
