ul, li {
  list-style-type: none;
}

.event-container {
  font-family: $body-font;
  background-color: $secondary-color;
  border: 3px solid $primary-color;
  border-radius: 10px;
  width: 50em;
  padding: 1em;
  margin: 1em 0 1em 0em;
  & h1 {
    font-family: $headers-font;
    color: $primary-color;
    font-size: 1.3em;
  }
}

.event-infos {
  font-family: $body-font;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  margin: 0.5em 0 0.5em 0em;
}
