ul,
li {
  list-style-type: none;
}

// Container Evenements Home
.event-container-home {
  font-family: $body-font;
  background-color: $secondary-color;
  border: 3px solid $primary-color;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 1em;
  margin: 1em 0 0.5em 0em;
  box-shadow: var(--container-shadow);
  & h1 {
    font-family: $headers-font;
    color: $primary-color;
    font-size: 1.1em;
  }
  & a {
    color: $primary-color;
    text-decoration: none;
  }
}

.event-infos-home li {
  font-family: $body-font;
  color: $primary-color;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  font-size: 1.1em;
  margin: 0.5em 0 0.5em 0em;
  position: relative;
  &::after {
    content: "";
    opacity: 0;
    transition: opacity 2s;
  }
  &:hover::after {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    border: 1px solid $accent-color;
    opacity: 1;
  }
  .event-infos {
    display: flex;
    justify-content: space-between;
  }


}

.event-date {
  background-color: $accent-color;
  padding: 0.25em 0.5em;
  color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .event-container-home {
    width: 100%;
    & h1 {
      font-size: 1em;
    }
  }

  .event-infos-home {
    font-size: 1em;
  }
}
