// Container calendrier & Evenements sous le calendrier
.annual-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24em;
  height: 100%;
  // margin-left: -0.3em;
  // margin-top: -1.8em;
}

.event-container-calendar {
  font-family: $body-font;
  background-color: $secondary-color;
  border: 3px solid $primary-color;
  border-radius: var(--border-radius);
  // width: 18.7em;
  padding: 0.5em;
  // margin: 0.7em 0 0.7em 0em;
  box-shadow: var(--container-shadow);
  & h1 {
    font-family: $headers-font;
    color: $primary-color;
    font-size: 1em;
  }
  & a {
    color: $primary-color;
    text-decoration: none;
  }
}

.event-infos-calendar {
  font-family: $body-font;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin: 0.5em 0 0.5em 0em;
  align-items: center;
  padding: 0.5em;
  gap: 0.3em;
  &.date-selected {
    background-color: rgb(186, 205, 204);
    border-radius: 8px;
  }
}

.monthly-events {
  width: 100%;
}

.upcoming-year {
  display: grid;
  grid-gap: 0.5em;
  margin-top: 0.5em;
}

.year-events {
  font-family: $headers-font;
  color: $primary-color;
  padding-left: 0.5em;
  font-size: 1.2em;
}

.upcoming-month ul a {
  > li {
    // background-color: $background-color;
    border-bottom: 2px solid transparent;
    border-radius: 0.5em;
    transition: 0.50s ease-in-out;
  }
}

.upcoming-month ul a:hover {
  > li {
    // background-color: $background-color;
    border-bottom: 2px solid $accent-color;
    border-radius: 0.5em;
    box-shadow: var(--shadow-hover);
  }
}

@media (max-width: 768px) {
  .annual-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24em;
    height: 100%;
    margin: 0;
  }

  .event-container-calendar {
    & h1 {
      font-size: 1em;
    }
  }

  .event-infos-calendar {
    font-size: 1em;
  }
}
