// Container calendrier & Evenements sous le calendrier
.annual-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24em;
  height: 100%;
  // margin-left: -0.3em;
  // margin-top: -1.8em;
}

.event-container-calendar {
  font-family: $body-font;
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  border-radius: var(--border-radius);
  // width: 18.7em;
  padding: 0.5em;
  // margin: 0.7em 0 0.7em 0em;
  box-shadow: var(--container-shadow);
  & a {
    color: $primary-color;
    text-decoration: none;
  }
  & h2 {
    padding-left: 0.25em;
  }
}

.event-infos-calendar {
  font-family: $body-font;
  color: $primary-color;
  // font-size: 1em;
  margin: 0.2em 0 0.2em 0em;
  align-items: center;
  padding: 0.5em;
  gap: 0.3em;
  padding: 0.5em;
  position: relative;
  // border-left: 2px solid transparent;
  // transition: border-left-color 2s ease, color 5s ease;

  &:hover {
    // border-left-color: $accent-color;
    border-left: 2px solid $accent-color;
  }
  &.date-selected {
    background-color: rgb(186, 205, 204);
    border-radius: 8px;
  }
  .event-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  }

.no-event {
  font-family: $body-font;
  color: $primary-color;
  font-size: 1em;
  margin: 0.5em 0 0.5em 0em;
  padding: 0.5em;
  position: relative;
}



.monthly-events {
  width: 100%;
}

.upcoming-year {
  display: grid;
  grid-gap: 0.5em;
  margin-top: 0.8em;
}

.year-events {
  display: flex;
  // margin: 0.1em 0 0.1em 0;
  background-color: $accent-color;
  border-radius: var(--border-radius);
  font-family: $body-font;
  color: $secondary-color;
  font-size: 20px;
  width: 4em;
  box-shadow: var(--container-shadow);
  justify-content: center;
  padding: 0.3em;
}

// .upcoming-month ul a {
//   > li {
//     // background-color: $background-color;
//     border-bottom: 2px solid transparent;
//     border-radius: 0.5em;
//     transition: 0.50s ease-in-out;
//   }
// }

// .upcoming-month ul a:hover {
//   > li {
//     // background-color: $background-color;
//     border-bottom: 2px solid $accent-color;
//     border-radius: 0.5em;
//     box-shadow: var(--shadow-hover);
//   }
// }

@media (max-width: 768px) {
  .annual-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24em;
    height: 100%;
    margin: 0;
  }


  .event-infos-calendar {
    font-size: 1em;
  }
}
