.event-container-dashboard {
  font-family: $body-font;
  margin-left: 2.6em;
  margin-top: 0.6em;
  max-width: 55em;
}

.event-dashboard-title {
  font-family: $headers-font;
  color: $primary-color;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
