.event-container-dashboard {
 //font-family: $body-font;
  // margin-left: 2.6em;
  // margin-top: 0.6em;
  //max-width: 55em;
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  width: 70%;
  padding: 1em 1em 1em 1em;
  border-radius: var(--border-radius);
  margin-bottom: 1em;
  box-shadow: var(--container-shadow);

}

.event-dashboard-title {
  font-family: $headers-font;
  color: $primary-color;
  font-size: 1.5em;
}



.event-dashboard-description {
  font-family: $body-font;
  color: $primary-color;
  font-size: 1em;
  margin-top: 0.5em;
}

// .event-url {
//   display: inline-block;
//   background-color: $secondary-color;
//   border-radius: 1em;
//   padding: 0.5em 1em;
//   color: $primary-color;
//   transition: background-color 0.3s ease-in-out 0.3s;
//   transition: color 0.3s ease-in-out;
//   &:hover {
//     background-color: $accent-color;
//     color: $secondary-color;
//   }
// }
