ul,
li {
  list-style-type: none;
}

// Container Evenements Home
.event-container-home {
  font-family: $body-font;
  background-color: $secondary-color;
  border: 3px solid $primary-color;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 1em;
  margin: 1em 0 0.5em 0em;
  box-shadow: var(--container-shadow);
  & h1 {
    font-family: $headers-font;
    color: $primary-color;
    font-size: 1.3em;
  }
  & a {
    color: $primary-color;
    text-decoration: none;
  }
  .no-event {
    font-family: $body-font;
    color: $primary-color;
    font-size: 1.1em;
    margin: 0.5em 0 0.5em 0em;
    padding: 0.5em;
    position: relative;
  }
}

.event-infos-home li {
  font-family: $body-font;
  color: $primary-color;
  font-size: 1.1em;
  margin: 0.5em 0 0.5em 0em;
  padding: 0.5em;
  position: relative;
  // border-left: 2px solid transparent;
  // transition: border-left-color 2s ease, color 5s ease;
  &:hover {
    // border-left-color: $accent-color;
    border-left: 2px solid $accent-color;
  }
  .event-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}







.event-date {
  background-color: $accent-color;
  padding: 0.25em 0.5em;
  color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .event-container-home {
    width: 100%;
    & h1 {
      font-size: 1em;
    }
  }

  .event-infos-home {
    font-size: 1em;
  }
}
