.no-box-input {
  border: none;
  outline: none;
  font-weight: 900;
  border-radius: 0.3em;
  font-size: 1.5rem;
}

.sections {
  display: grid;
  grid-gap: 1em;
  overflow-x: hidden;
  & > div {
    margin-top: 0.5em;
  }
}

.new-form-section {
  position: relative;
}

.new-form-section .input {
  margin-top: 0.5em;
}

input.input {
  padding-top: 2px;
}

input#event_name::placeholder,
input#event_description::placeholder,
input#event_url::placeholder {
  color: grey;
  opacity: 0.6;
  font-style: italic;
}

.search {
  position: relative;
  display: inline-flex;
}

#searchRelationshipInput,
#searchOccasionInput,
#searchInterestInput {
  font-size: 1em;
  margin-left: 0.5em;
  border: none;
  border-radius: 0.3em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  outline: none;
  position: absolute;
  top: 2px;
  left: -8px;
  width: 0;
  z-index: 0;
  transition: width 1s ease;
  background-color: $secondary-color;
}

.search-icon {
  background-color: $secondary-color;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: var(--border-radius);
  height: 2em;
  width: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
}

#new-gift {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  i {
    color: $primary-color;
  }
}

#x-mark {
  margin-left: 15em;
}

#x-mark,
#reset {
  display: inline-flex;
  opacity: 0;
  width: 1.5em;
  height: 1.5em;
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 1em;
  font-size: 0.8em;
  line-height: 0.8em;
  &i {
    text-align: center;
  }
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    cursor: pointer;
  }
  transition: opacity 0.5s ease-in;
}

i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.age-genre {
  display: flex;
  gap: 0.4em;
}

.age,
.genre {
  display: inline-block;
}

.criteria-form {
  display: grid;
  grid-gap: 1em;
}

input[type="radio"],
span.checkbox input[type="checkbox"],
.secondary-container.recurrent input#event_recurrent {
  display: none;
}

.radio_buttons span,
.check_boxes span {
  padding: 0 0.25em;
}

.occasion,
.relationship,
.interests {
  overflow: hidden;
  white-space: nowrap;
}

.occasion div.input,
.relationship div.input,
.interests div.input {
  box-sizing: border-box;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1em;
  padding-left: 1em;
  &:hover {
    overflow-y: scroll;
  }
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4em;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    $background-color 0%,
    rgba(255, 255, 255, 0) 2%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 98%,
    $background-color 100%
  );
}

.new-form-section.budget .input {
  padding: 0 22px;
}

.date-and-recurrent {
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
}

.secondary-container.recurrent {
  display: flex;
  gap: 0.5em;
  padding: 6px;
  & label {
    margin-bottom: 0;
    align-self: center;
    user-select: none;
  }
  input:checked {
    ~ label .check {
      border: none;
      background-color: $primary-color;
    }
  }
}

.secondary-container input#event_recurrent {
  width: auto;
  // display: none;
}

.check {
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  background-color: $secondary-color;
  border: 2px solid $primary-color;
}

label[for="event_recurrent"] {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
