.radio-buttons {
  display: flex;
  gap: 0.5em;
  .radio-button {
    background-color: $secondary-color;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: var(--border-radius);
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 7px 10px -3px,
      rgba(0, 0, 0, 0.3) 0px 4px 8px -4px;
    &:hover {
      background-color: rgba($secondary-color, 1);
      box-shadow: rgba(50, 50, 93, 0.5) 0px 8px 11px -4px,
        rgba(0, 0, 0, 0.55) 0px 5px 9px -5px;
    }
  }
}

.radio-button.neutral,
.radio-button.male,
.radio-button.female {
  position: relative;
}

.radio-button:has(input[type="radio"]:checked) {
  background-color: $primary-color;
  color: $secondary-color;
}

.genders {
  height: 2em;
  margin: 0.6em;
  .input {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
  }
}

span.gender-info {
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 1em;
  font-family: $body-font;
  visibility: hidden;
  font-size: 0.8em;
  padding: 0.25em 0.5em;
  position: absolute;
  translate: -60% 140%;
  z-index: 1;
}

.radio-button.neutral:hover span.gender-info.neutral,
.radio-button.male:hover span.gender-info.male,
.radio-button.female:hover span.gender-info.female {
  visibility: visible;
}
