.gift-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & span {
    display: flex;
    flex-direction: row-reverse;
  }

}

.logo-gift {
  width: 3em;
}


.refresh-container {
  position: relative;
  display: inline-block;
}

.refresh-arrow {
  // display: inline-block;
  display: flex;
  transition: transform 0.5s ease;

  & img {
    width: 1em;
  }

  &:hover {
    transform: rotate(360deg);
  }
}

.refresh-text {
  position: absolute;
  top: 50%;
  left: -120px; /* Position initiale en dehors de la vue à gauche */
  transform: translateX(50px) translateY(-50%);
  color: $accent-color;
  font-family: $headers-font;
  padding: 5px;
  border-radius: 3px;
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s; /* Débuter l'animation après 0.5s */
}

.refresh-container:hover .refresh-text {
  transform: translateX(0) translateY(-50%); /* Déplace le texte de droite à gauche */
  opacity: 1;
}












.gift-left {
  display: flex;
  align-items: center;
}

.gift-name {
  margin-left: 0.5em;
}
