.gifts-event {
  h3 {
    font-size: 1.5em;
    font-family: $headers-font;
    color: $primary-color;
    margin: 1em 0 0.5em 0;
  }

}

.geeft {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }


}


.geeft-left {
  display: flex;
  align-items: center;
  grid-area: "gl";
}

.geeft-right {
  cursor: pointer;
}
