// Navbar Homepage mobile
.mobile-homepage {
  display: none;
}

// Homepage Logged-out
.home-page-logged-out {
  width: 100%;
  max-width: 55em;
}

.geeft-presentation {
  & p {
    font-family: $body-font;
    color: $primary-color;
    font-size: 1.2em;
    margin: 1em 0 0 0;
  }
}

// .logged-out-btn-container {
//   margin-top: 3em;
//   display: flex;
// }

// .logged-out-btn {
//   font-family: $headers-font;
//   color: $primary-color;
//   margin-right: 1em;
// }

// Homepage Logged-in
.home-title {
  font-family: $headers-font;
  color: $primary-color;
  font-size: 2.5em;
  margin-left: 0em;
}

.home-subtitle {
  font-family: $headers-font;
  color: $primary-color;
  font-size: 1.6em;
  margin: 1em 0 0 0;
}

.home-buttons {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 800px) {
  // Homepage Logged-out
  .geeft-presentation {
    width: 100%;
  }

  .presentation-text {
    display: none;
  }

  .logged-out-btn-container {
    width: 100%;
  }

  // Navbar Homepage mobile
  .mobile-homepage {
    display: flex;
    background-color: $secondary-color;
    // background-image: url("geeft-logo-mobile.svg");
    // width: 100%;
    // height: 100%;
    // background-repeat: no-repeat;
    // background-position: center;
    justify-content: space-between;
    align-items: center;
    & i {
      color: $primary-color;
      font-size: 2em;
      margin: 1em 0.5em 0 0.5em;
    }
    & img {
      width: 88%;
      margin-bottom: 5%;
    }

    & a {
      display: flex;
      justify-content: center;

    }

  }

  .top-page-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .slogan-mobile {
    font-family: $body-font;
    color: $primary-color;
    font-size: 1.1em;
  }

  // Homepage Logged-in
  .home-title {
    display: none;
  }

  .home-subtitle {
    font-size: 1.7em;
  }

  .home-buttons {
    display: none;
  }
}
