// Navbar Homepage mobile
.mobile-homepage {
  display: none;
}

// Homepage Logged-out
.geeft-presentation {
  max-width: 50em;
  & p {
    font-family: $body-font;
    color: $primary-color;
    font-size: 1.2em;
    margin: 1em 0 0 0;
  }
}

.titles-btn {
  width: 50em;
  font-family: $headers-font;
  color: $primary-color;
  font-size: 1.5em;
  margin-top: 4em;
  margin-bottom: 0.3em;
  display: flex;
  & p {
    margin-right: 8.6em;
  }

}

.logged-out-buttons {
  margin-top: 0em;
  display: flex;
  justify-content: space-between;
  width: 50em;
}

// Homepage Logged-in
.home-title {
  font-family: $headers-font;
  color: $primary-color;
  font-size: 2.5em;
  margin-left: 0em;
}

.home-subtitle{
  font-family: $headers-font;
  color: $primary-color;
  font-size: 1.6em;
  margin: 1em 0 0 0;
}

.home-buttons {
  display: flex;
  justify-content: space-between;
  width: 50em;
}


@media (max-width: 768px) {

  // Homepage Logged-out
  .geeft-presentation {
    width: 100%
  }

  .presentation-text {
  display: none;
  }

  .titles-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & p {
      margin-right: 2.2em;
      font-size: 0.8em;
    }
  }

  .logged-out-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  // Navbar Homepage mobile
  .mobile-homepage {
    display: flex;
    margin-top: -2em;
    background-color: $secondary-color;
    background-image: url('geeft-logo-mobile.png');
    background-repeat: no-repeat;
    background-size: 87%;
    background-position: center;
    height: 16em;
    justify-content: space-between;
    align-items: center;
    & i {
      color: $primary-color;
      font-size: 2em;
      margin: 1em 0.5em 0 0.5em;
    }
}

  .slogan-mobile {
    font-family: $body-font;
    color: $primary-color;
    font-size: 1.1em;
    margin: 7.7em -6.3em 0 0;
  }

  // Homepage Logged-in
  .home-title {
    display: none;
  }

  .home-subtitle {
    font-size: 1.7em;
  }

  .home-buttons {
    display: none;
  }

}
