.home-title {
  font-family: $headers-font;
  color: $primary-color;
  font-size: 3em;
  margin-left: 0em;
}

.home-subtitle{
  font-family: $headers-font;
  color: $primary-color;
  font-size: 2em;
  margin: 1em 0 0 0;
}

.home-buttons {
  display: flex;
  justify-content: space-between;
  width: 50em;
}

@media (max-width: 768px) {
.navbar {
  display: none;
}

.home-title {
  display: none;
}

.home-subtitle {
  font-size: 1.7em;
}

.home-buttons {
  display: none;
}
}
