// Style Dekstop
.navbar {
  background-color: $secondary-color;
  font-family: $headers-font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.6em;
}

.chevron-mobile {
  display: none;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3em;
  & img {
    width: 5.8em;
    height: 5em;
    margin: 0.4em 1.3em 0 0;
  }
  & h1 {
    margin-top: -0.2em;
    font-size: 1.6em;
    color: $primary-color;
  }
}

.navbar-right {
  margin-right: 1.5em;
  font-size: 2.4em;
  color: $primary-color;
  display: flex;
  align-items: center;
}

.dropdown {
  height: fit-content;
  // width: 400px;
  margin-right: 1.5em;
  // font-size: 2.4em;
  color: $primary-color;
  position: relative;
  display: inline-block;
}
// .dropdown-toggle {
//   background-color: #f1f1f1;
//   color: #333;
//   padding: 0.75rem 2.5rem;
//   border: none;
//   border-radius: 0.5rem;
//   cursor: pointer;
//   width: 400px;
// }

.dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 0;
  list-style: none;
  display: none;
}

.dropdown-menu .menu-item:first-child {
  border-radius: 1rem 1rem 0 0;
}

.dropdown-menu .menu-item:last-child {
  border-radius: 0 0 1rem 1rem;
}

.menu-item {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: white;
  border: none;
  font-size: 1.1rem;
}

.menu-bars {
  font-size: 1.5rem;
}

.item-icon {
  font-size: 1.5rem;
}

.item-txt {
  width: 50%;
  text-align: left;
}

.menu-item:hover {
  cursor: pointer;
  color: rgb(19, 98, 255);
}

button:focus ~ .dropdown-menu {
  display: block;
}

// Style Mobile
@media screen and (max-width: 768px) {
  body.home-page .navbar {
    display: none;
  }
  .navbar {
    height: 8em;
  }

  .chevron-mobile {
    display: block;
    font-size: 2.4em;
    color: $primary-color;
    margin-left: 0.6em;
  }

  .navbar-left {
    margin: 0;
    & img {
      width: 6.8em;
      height: 6em;
      margin: 0.3em 0 0 0;
    }
    & h1 {
      display: none;
    }
  }

  .navbar-right {
    margin-right: 0.7em;
  }
}
