// Style Dekstop
.navbar {
  background-color: $secondary-color;
  font-family: $headers-font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.6em;
}

.chevron-mobile {
  display: none;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3em;
  & img {
    width: 5.8em;
    height: 5em;
    margin: 0.4em 1.3em 0 0;
  }
  & h1 {
    margin-top: -0.2em;
    font-size: 1.6em;
    color: $primary-color;
  }
}

.navbar-right {
  margin-right: 1.5em;
  font-size: 2.4em;
  color: $primary-color;
  display: flex;
  align-items: center;
  }


  details summary {
    list-style: none;
    width: max-content;
    cursor: pointer;


   }

   .menu {
    width: 3em;
    margin-right: 3em;
   }

   .menu-items {
    width: 2em;
   }



   details {
    position: relative;
   }

   details ul {
    position: absolute;
   // bottom: 0;
   // left: 130%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    border-radius: var(--border-radius);
    left: unset;
    right: 0;
    bottom: unset;
    z-index: 999;

   }

   details ul li {
    width: 160px;
    border-radius: var(--border-radius);
    color: #333;
    cursor: pointer;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 40px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    text-align: left;
    transition: 0.5s;
   }

   details ul li:hover {
    background-color: #f1f1f1;
    color: #333;
   }




  // Style Mobile
  @media (max-width: 800px) {
    body.home-page .navbar {
      display: none;
    }
    .navbar {
      height: 10em;
    }

    .chevron-mobile {
      display: block;
      font-size: 2.4em;
      color: $primary-color;
      margin-left: 0.6em;
    }

    .navbar-left {
      margin: 0;
      & img {
        width: 100%;
        height: 9em;
        margin: 0;
      }
      & h1 {
        display: none;
      }
    }

    .navbar-right {
      margin-right: 0.7em;
    }

  }

// Style Mobile
@media (max-width: 800px) {
  body.home-page .navbar {
    display: none;
  }
  .navbar {
    height: 10em;
  }

  .chevron-mobile {
    display: block;
    font-size: 2.4em;
    color: $primary-color;
    margin-left: 0.6em;
  }

  .navbar-left {
    margin: 0;
    & img {
      width: 100%;
      height: 9em;
      margin: 0;
    }
    & h1 {
      display: none;
    }
  }

  .navbar-right {
    margin-right: 0.7em;
  }

}
