.gift_relationship label,
.gift_occasion label,
.gift_interests label {
  background-color: rgba($secondary-color, 0.9);
  cursor: pointer;
  font-family: $body-font;
  color: $primary-color;
  padding: 0.25em 0.5em;
  display: inline-block;
  border-radius: 0.8em;
  border: 2px solid $primary-color;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 7px 10px -3px,
    rgba(0, 0, 0, 0.3) 0px 4px 8px -4px;
  &:hover {
    background-color: rgba($secondary-color, 1);
    box-shadow: rgba(50, 50, 93, 0.5) 0px 8px 11px -4px,
      rgba(0, 0, 0, 0.55) 0px 5px 9px -5px;
  }
}

input[type="checkbox"] + label {
  color: $primary-color;
  i {
    color: $primary-color;
  }
}

.occasion input[type="radio"]:checked + label,
.relationship input[type="radio"]:checked + label,
.interests input[type="checkbox"]:checked + label {
  background-color: $primary-color;
  color: $secondary-color;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 8px 11px -4px,
    rgba(0, 0, 0, 0.55) 0px 5px 9px -5px;
  i {
    color: $secondary-color;
  }
}
