.date-section.date-show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.2em;
}

.date-section.date-edit {
  display: flex;
  align-items: center;
  width: fit-content;
}
.date-section {
  border: 3px solid $primary-color;
  border-radius: var(--border-radius);
  height: 2.3em;
  width: 7.2em;
  background-color: $secondary-color;
  font-family: $body-font;
  color: $primary-color;
  font-size: 1em;
  text-align: center;
}
.date-section input {
  color: $primary-color;
  font-family: $body-font;
}
