// Réinitialisation des styles par défaut
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --border-radius: 10px;
}

// Ajout de la ligne pour pouvoir cacher la nav-bar sur la homepage mobile
@media (max-width: 768px) {
  body.home-page .navbar {
    display: none;
  }
}

@import "config/font";
@import "config/color";
@import "config/flatpickr";

@import "components/form";
@import "components/calendar";
@import "components/index";
